.App {
  text-align: center;
  font-family: "FiraCode-Regular";
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.link-container {
  display: flex;
  flex-direction: row;
}

.flex-link {
  margin-right: 50px;
}

h1 {
  margin-bottom: 0px;
  font-family: "FiraCode-Bold";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color: #6dd4b1;
  transition: all 0.2s linear;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #357099;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
