.viewgames {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #adbbd2;
  font-family: "FiraCode-Regular";
  display: flex;
  flex-direction: row;
}

.live {
  margin-left: 5%;
  flex: 0.6;
  color: rgb(0, 0, 0);
}

.statsandplay {
  flex: 0.4;
  margin-right: 5%;
}

.lichess {
  width: 100%;
  color: black;
}

.status {
  display: inline;
}

.currently {
  display: inline;
}

.offline {
  display: inline;
  color: red;
}

.online {
  display: inline;
  color: green;
}

.lichess-link {
  color: green;
  text-decoration: underline;
}

.stat {
  padding-bottom: 50px;
}

.howtoplay {
  padding-bottom: 50px;
}

.site-info {
  padding-bottom: 50px;
}
